*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
.container{
    margin: 0 auto;
    width: 1500px;
    height: 2000px;
}
.nav{
    width: 1500px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}
.nav ul{
    display: flex;
    gap: 30px;
}
.nav img{
    width: 100px;
    height: 100px;
}
.nav1{
    margin-top: 150px;
    width: 1500px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}
.nav1 ul{
    display: flex;
    gap: 30px;
}
.nav1 img{
    width: 100px;
    height: 100px;
}
.btn{
    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn img{
    width: 25px;
    height: 25px;
}
.imgs{
    width: 750px;
    height: 750px;
    display: flex;
    border-radius: 25px;
}
.imgs img{
    border-radius: 25px;
}
.section{
    margin-top: 100px;
    width: 1500px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.section h2{
    font-size: 75px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card img{
    border-radius: 10px;
    width: 800px;
    height: 800px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    display: initial;
    margin-top: 50PX;
    text-align: center;
    font-size: 50px;
}

.nav ul li{
    color: black;
}
.nav ul li:hover{
    color: orange;
    transition: all 0.3s;
}
.nav1 ul li{
    color: black;
}
.nav1 ul li:hover{
    color: orange;
    transition: all 0.3s;
}